* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
ul, ol {
    list-style: none;
    
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: cursive;
}
.city {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sity a {
    color:inherit;
}
.menu {
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("../images/jpg/bg-menu.jpg")
}
.menu h1 {
    margin-bottom: 30px;
    font-size: 50px;
}
.menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
}
.city h2 {
    font-size: 25px;
}
.bg-santiago {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/jpg/santiago.webp")
}
.bg-etihad {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/jpg/etihad.webp")
}
.bg-enfild {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/jpg/enfild.webp")
}
.bg-old-trafford {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/jpg/old\ trafford.webp")
}
